language: java
jdk: oraclejdk8

env:
    global:
        - "spring.datasource.url"="jdbc:postgresql://localhost:5432/unhypemboot"
        - "spring.datasource.password"=""

addons:
    postgresql: "9.4"

before_script:
    - psql -c "create database unhypemboot;" -U postgres

before_install:
    - chmod +x gradlew
